<div class="mainSection">

  <h1>ברוכים הבאים לליגת א.י.פ.ל</h1>

  <ul>
    <li><a routerLink="" routerLinkActive="active">טבלה</a></li>
    <li><a routerLink="teams" routerLinkActive="active">קבוצות</a></li>
    <li><a routerLink="game-boards" routerLinkActive="active">לוח משחקים</a></li>
    <li><a routerLink="top-scorers" routerLinkActive="active">מלך שערים</a></li>
    <li><a routerLink="about" routerLinkActive="active">אודות</a></li>
  </ul>

  <div class="subSection">
    <router-outlet></router-outlet>
  </div>

</div>